{% extends 'base_register.html' %} 
{% block content %}

<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
      <div class="card card-4">
        <div class="card-body">
          <h2 class="title" style="font-family: 'Almarai', sans-serif !important">
تسجيل الدخول إلى لوحة التحكم
        </h2>
          {% if messages %}
           {% for message in messages %}
          <div 
          style="font-family: 'Almarai', sans-serif !important"
          
          class="alert alert-info" id="alert">{{message}}</div>
          {% endfor %}
           {% endif %}
          <form
            style="font-family: 'Almarai', sans-serif !important"
            enctype="multipart/form-data"
            method="POST"
          >
            {% csrf_token %} 
            {{form}}
            <div class="p-t-15">
              <button
                style="font-family: 'Almarai', sans-serif !important"
                class="btn btn-success w-50 my-2"
                id="submit"
                type="submit"
              >
                 تسجيل دخول
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
