
{% extends 'base.html' %}

{% block content %}
    <div style="direction: rtl;" class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div   class="content-wrapper p-5">
          <!-- Content Header (Page header) -->
                  <div class="row mb-2">
                    <div class="col-sm-6">
                      <h1>الوجبات</h1>
                    </div>
     
                  </div>
              </section>
          
              <!-- Main content -->
              <section class="content">                  
                <!-- Default box -->
                <div class="card card-solid">
                  <div class="card-body pb-0">
                    <div class="row d-flex align-items-stretch">
                      {% for meal in meals %} <!--book mn 3ndi w books jbtha mn views-->
                      <!-- الكتب -->
                          <div id="" class="col-md-4 bookhide book{{book.category.id}}">
                              <!-- Widget: user widget style 1 -->
                            <div id="" class="card bg-white text-dark card-widget widget-user ">
                              <!-- Add the bg color to the header using any of the bg-* classes -->
                            <!-- قائمة منسدلة -->
                            <div style="position: absolute;" class="btn-group">   
                              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'update' meal.id %}">تعديل</a>
                                <a class="dropdown-item" href="{% url 'delete' meal.id %}">حذف</a>
                            <!-- Button trigger modal -->
                              </div>
                            </div>
                           
                            <div style="background:url({{meal.photos.url}});background-size:cover;height: 200px;"  class="widget-user-header bg-danger">             
                            </div>
                            <div class="widget-user-image">
                            </div>
                            <div style="padding-top: 0;
                            background-color: white;" class="card-footer">
                              <div class="row">
                                <div class="col-sm-4 border-right">
                                  <div class="description-block">
                                    <h5 class="description-header"> الوجبة  </h5> <span class="description-text font-weight-bold text-danger pt-3">{{meal.name}} </span>
                                  </div>
                                </div>
                                    <!-- /.col -->
                                <div class="col-sm-4 border-right">
                                  <div class="description-block">
                                    <h5 class="description-header"> السعر  </h5> <span class="description-text font-weight-bold text-info pt-3">QAR {{meal.price}} </span>
            
                                  </div>
                                </div>
                                <div class="col-sm-4 border-right">
                                  <div class="description-block">
                                    <h5 class="description-header"> الحالة  </h5> 
                                    {% if meal.isAvailaible %}
                                    <span class="description-text font-weight-bold text-success pt-3">متاحة</span>
                                    {% else %}
                                    <span class="description-text font-weight-bold text-danger pt-3"> غير متاحة </span>
            
                                    {% endif %}
            
                                  </div>
                                </div>
                                    <!-- /.col -->
                            
                                    <!-- /.col -->
                              </div>
                                  <!-- /.row -->
                            </div>
                            </div>
                              <!-- /.widget-user -->
                          </div>
                      <!-- نهاية الكتاب -->
                      {% endfor %}
                    </div>
                  </div>
                  <!-- /.card-body -->
    
                  <!-- /.card-footer -->
                </div>
                <!-- /.card -->
          
              </section>
              <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
          
        </div>
        <!-- /.content-wrapper -->
      </div>
 {% endblock %}
  
  
  
  